Repository IGNF/react-dsfr-tiptap, changes with the labels that .github/labeler.yml gives for each.
All labels: tooling, documentation, enhancement, quality

feat: initialize repo with quality tools
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc
  eslint.config.js
  examples/.gitignore
  examples/README.md
  examples/index.html
  examples/package.json
  examples/public/vite.svg
  examples/src/App.css
  examples/src/App.tsx
  examples/src/assets/react.svg
  examples/src/index.css
  examples/src/main.tsx
  examples/src/vite-env.d.ts
  examples/tsconfig.app.json
  examples/tsconfig.json
  examples/tsconfig.node.json
  examples/vite.config.ts
  package-lock.json
  package.json
  packages/react-dsfr-tiptap/package.json
  packages/react-dsfr-tiptap/src/index.ts
  packages/react-dsfr-tiptap/tsconfig.json
  renovate.json
Labels: tooling

feat: add tiptap components and example
  examples/index.html
  examples/package.json
  examples/public/vite.svg
  examples/src/App.css
  examples/src/App.tsx
  examples/src/RouterRenderer.tsx
  examples/src/TiptapCustomButtons.tsx
  examples/src/TiptapEditor.tsx
  examples/src/index.css
  examples/src/main.tsx
  examples/src/router.ts
  examples/vite.config.ts
  package-lock.json
  package.json
  packages/react-dsfr-tiptap/package.json
  packages/react-dsfr-tiptap/src/components/ColorInput.tsx
  packages/react-dsfr-tiptap/src/components/Content.tsx
  packages/react-dsfr-tiptap/src/components/Controls.tsx
  packages/react-dsfr-tiptap/src/components/Group.tsx
  packages/react-dsfr-tiptap/src/components/Loader.tsx
  packages/react-dsfr-tiptap/src/components/MarkdownEditor.tsx
  packages/react-dsfr-tiptap/src/components/Menu.tsx
  packages/react-dsfr-tiptap/src/components/Provider.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.tsx
  packages/react-dsfr-tiptap/src/components/createControls.tsx
  packages/react-dsfr-tiptap/src/contexts/dialog.ts
  packages/react-dsfr-tiptap/src/contexts/editor.ts
  packages/react-dsfr-tiptap/src/dialogs/Dialog.tsx
  packages/react-dsfr-tiptap/src/index.ts
  packages/react-dsfr-tiptap/src/markdown.ts
  packages/react-dsfr-tiptap/src/types/controls.ts
  packages/react-dsfr-tiptap/src/utils/controls.ts
  packages/react-dsfr-tiptap/src/utils/tiptap.ts
  packages/react-dsfr-tiptap/tsconfig.json
Labels: none

feat: add examples for markdown and other controls
  examples/package.json
  examples/src/App.tsx
  examples/src/Custom.tsx
  examples/src/Markdown.tsx
  examples/src/RouterRenderer.tsx
  examples/src/Tiptap.tsx
  examples/src/router.ts
  package-lock.json
  package.json
  packages/react-dsfr-tiptap/package.json
  packages/react-dsfr-tiptap/src/components/ColorInput.tsx
Labels: none

feat: manage link, image and youtube controls
  examples/package.json
  examples/src/Custom.tsx
  examples/src/Markdown.tsx
  examples/src/Tiptap.tsx
  examples/vite.config.ts
  package-lock.json
  packages/react-dsfr-tiptap/package.json
  packages/react-dsfr-tiptap/src/components/Loader.tsx
  packages/react-dsfr-tiptap/src/components/MarkdownEditor.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.tsx
  packages/react-dsfr-tiptap/src/controls/ControlYoutube.tsx
  packages/react-dsfr-tiptap/src/controls/Controls.tsx
  packages/react-dsfr-tiptap/src/controls/CustomControls.tsx
  packages/react-dsfr-tiptap/src/controls/DialogControls.tsx
  packages/react-dsfr-tiptap/src/controls/createControls.tsx
  packages/react-dsfr-tiptap/src/dialog.ts
  packages/react-dsfr-tiptap/src/dialogs/ImageDialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/LinkDialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/YoutubeDialog.tsx
  packages/react-dsfr-tiptap/src/index.ts
  packages/react-dsfr-tiptap/src/types/controls.ts
  packages/react-dsfr-tiptap/src/utils/controls.ts
Labels: none

docs: update README
  README.md
  examples/src/Custom.tsx
  examples/src/Tiptap.tsx
  examples/src/TiptapCustomButtons.tsx
  packages/react-dsfr-tiptap/src/components/MarkdownEditor.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.tsx
  tests/README.md
Labels: quality

chore: configure unit tests and add CI
  .github/workflows/test.yml
  examples/package.json
  examples/src/TiptapCustomButtons.tsx
  package-lock.json
  package.json
  packages/react-dsfr-tiptap/jest.config.js
  packages/react-dsfr-tiptap/package.json
  packages/react-dsfr-tiptap/src/utils/tiptap.test.ts
Labels: tooling

chore: wording
  .github/workflows/test.yml
Labels: tooling

chore: add changelog generation
  package-lock.json
  package.json
  packages/react-dsfr-tiptap/package.json
Labels: none

chore: setup jsdom and testing library jest dom
  package-lock.json
  packages/react-dsfr-tiptap/jest-setup.ts
  packages/react-dsfr-tiptap/jest.config.js
  packages/react-dsfr-tiptap/package.json
  packages/react-dsfr-tiptap/src/controls/createControls.tsx
  packages/react-dsfr-tiptap/tsconfig.json
Labels: none

test: add tests
  packages/react-dsfr-tiptap/src/components/ColorInput.test.tsx
  packages/react-dsfr-tiptap/src/components/ColorInput.tsx
  packages/react-dsfr-tiptap/src/components/Loader.test.tsx
  packages/react-dsfr-tiptap/src/components/MarkdownEditor.test.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.test.tsx
  packages/react-dsfr-tiptap/src/contexts/dialog.test.tsx
  packages/react-dsfr-tiptap/src/contexts/dialog.ts
  packages/react-dsfr-tiptap/src/contexts/editor.test.tsx
  packages/react-dsfr-tiptap/src/controls/createControls.test.tsx
  packages/react-dsfr-tiptap/src/dialogs/ImageDialog.tsx
  packages/react-dsfr-tiptap/src/test-utils.ts
  packages/react-dsfr-tiptap/src/utils/tiptap.test.ts
  packages/react-dsfr-tiptap/tsconfig.json
Labels: none

chore: deploy examples on github pages
  .github/workflows/deploy.yml
Labels: tooling

fix: deploy pipeline
  .github/workflows/deploy.yml
Labels: tooling

fix: github pages build base path
  examples/package.json
  package.json
Labels: none

fix: icons for gihub pages build
  examples/package.json
Labels: none

docs: update README and LICENCE
  LICENSE
  README.md
  package.json
  packages/react-dsfr-tiptap/LICENSE
  packages/react-dsfr-tiptap/README.md
Labels: none

refactor: add org in package name
  examples/package.json
  examples/src/Custom.tsx
  examples/src/Markdown.tsx
  examples/src/Tiptap.tsx
  examples/src/TiptapCustomButtons.tsx
  package-lock.json
  packages/react-dsfr-tiptap/README.md
  packages/react-dsfr-tiptap/package.json
Labels: none

docs: update CHANGELOG.md
  packages/react-dsfr-tiptap/CHANGELOG.md
Labels: none

3.0.0
  examples/package.json
  package-lock.json
  packages/react-dsfr-tiptap/package.json
Labels: none

fix: webpack compatibility
  examples/package.json
  examples/src/Markdown.tsx
  examples/src/Tiptap.tsx
  package-lock.json
  packages/react-dsfr-tiptap/README.md
  packages/react-dsfr-tiptap/package.json
  packages/react-dsfr-tiptap/src/components/Loader.tsx
  packages/react-dsfr-tiptap/src/components/MarkdownEditor.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.tsx
  packages/react-dsfr-tiptap/src/constants/markdownEditor.ts
  packages/react-dsfr-tiptap/src/constants/richTextEditor.ts
  packages/react-dsfr-tiptap/src/contexts/dialog.ts
  packages/react-dsfr-tiptap/src/controls/createControls.tsx
  packages/react-dsfr-tiptap/src/dialogs/Dialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/ImageDialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/LinkDialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/YoutubeDialog.tsx
  packages/react-dsfr-tiptap/src/global.d.ts
  packages/react-dsfr-tiptap/src/index.ts
  packages/react-dsfr-tiptap/src/markdown.ts
Labels: none

fix: tests
  packages/react-dsfr-tiptap/src/components/Loader.test.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.test.tsx
Labels: none

chore: fix release scripts
  packages/react-dsfr-tiptap/package.json
Labels: none

docs: update CHANGELOG.md
  packages/react-dsfr-tiptap/CHANGELOG.md
Labels: none

chore: update github actions
  .github/workflows/deploy.yml
Labels: tooling

1.0.1
  examples/package.json
  package-lock.json
  packages/react-dsfr-tiptap/package.json
Labels: none

1.0.0
  examples/package.json
  package-lock.json
  packages/react-dsfr-tiptap/package.json
Labels: none

chore: fix release scripts
  packages/react-dsfr-tiptap/package.json
Labels: none

docs: update CHANGELOG.md
  packages/react-dsfr-tiptap/CHANGELOG.md
Labels: none

1.0.1
  examples/package.json
  package-lock.json
  packages/react-dsfr-tiptap/package.json
Labels: none

fix: webpack compatibility
  examples/package.json
  examples/src/Markdown.tsx
  examples/src/Tiptap.tsx
  package-lock.json
  packages/react-dsfr-tiptap/README.md
  packages/react-dsfr-tiptap/package.json
  packages/react-dsfr-tiptap/src/components/Loader.tsx
  packages/react-dsfr-tiptap/src/components/MarkdownEditor.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.tsx
  packages/react-dsfr-tiptap/src/constants/markdownEditor.ts
  packages/react-dsfr-tiptap/src/constants/richTextEditor.ts
  packages/react-dsfr-tiptap/src/contexts/dialog.ts
  packages/react-dsfr-tiptap/src/controls/createControls.tsx
  packages/react-dsfr-tiptap/src/dialogs/Dialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/ImageDialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/LinkDialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/YoutubeDialog.tsx
  packages/react-dsfr-tiptap/src/global.d.ts
  packages/react-dsfr-tiptap/src/index.ts
  packages/react-dsfr-tiptap/src/markdown.ts
Labels: none

chore: update github actions
  .github/workflows/deploy.yml
Labels: tooling

fix: tests
  packages/react-dsfr-tiptap/src/components/Loader.test.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.test.tsx
Labels: none

feat: add Strike control for markdown editor
  packages/react-dsfr-tiptap/src/constants/markdownEditor.ts
  packages/react-dsfr-tiptap/src/types/controls.ts
Labels: none

fix: webpack compatibility for dialog import
  packages/react-dsfr-tiptap/src/dialogs/ImageDialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/LinkDialog.tsx
  packages/react-dsfr-tiptap/src/dialogs/YoutubeDialog.tsx
Labels: none

docs: update CHANGELOG.md
  packages/react-dsfr-tiptap/CHANGELOG.md
Labels: none

chore: add lerna for managing releases
  lerna.json
  package-lock.json
  package.json
  packages/react-dsfr-tiptap/package.json
Labels: none

fix: types
  packages/react-dsfr-tiptap/src/utils/controls.ts
Labels: none

chore: update packages
  examples/package.json
  package-lock.json
Labels: none

v1.0.2
  lerna.json
  package-lock.json
  packages/react-dsfr-tiptap/package.json
Labels: none

test: fix test
  packages/react-dsfr-tiptap/src/components/MarkdownEditor.test.tsx
Labels: none

fix(#3): add portal for dialogs
  packages/react-dsfr-tiptap/src/components/Loader.tsx
  packages/react-dsfr-tiptap/src/components/MarkdownEditor.tsx
  packages/react-dsfr-tiptap/src/components/RichTextEditor.tsx
  packages/react-dsfr-tiptap/src/controls/createControls.tsx
  packages/react-dsfr-tiptap/src/dialogs/Dialog.tsx
  packages/react-dsfr-tiptap/src/utils/controls.ts
Labels: none

.github/labeler.yml:

enable:
  issues: true
  prs: true
  
tooling:
  - .github/**/*
  - .gitignore
  - .vscode/**/*


documentation:
  - docs/*

enhancement:
  - src/**/*

quality:
  - tests/**/*
